registry=https://registry.npmjs.org/
username=huedawn
email=huedawn.me@gmail.com
//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}
//registry.npmjs.com/:_authToken=${{ secrets.NPM_TOKEN }}$